$button: #25c8f9;
$button-hover: #0f98c1;

noscript {
    color: red;
    font-weight: bold;
}

body {
    color: #191919;
    margin: 0px;
}

.state {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

#start {
    h1 {
        font-size: 300%;
    }
    button {
        font-size: 2em;
        color: inherit;
        margin-left: 20vw;
        margin-top: 10vh;
        padding: 2mm 5mm;
        
        transition: background 0.1s;
        background: #eee;
        border: solid;
        border-color: #aaa;
        border-radius: 1mm;
        
        &:hover {
            background: #ccc;
        }
    }
}

area {
    cursor: pointer;
}

$fade-time: 2s;

.fading-in {
    animation: $fade-time fade-in;
    animation-fill-mode: both;
}

.fading-out {
    animation: $fade-time fade-out;
    animation-fill-mode: both;
}

@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes fade-out {
    from {opacity: 100%;}
    to {opacity: 1%;}
}

button {
    background-color: $button;
    padding: 2mm 5mm;
    
    transition: background 0.3s;
    border: solid;
    border-radius: 1mm;
    border-color: darken($button, 10);
    
    &:hover {
        background: $button-hover;
    }
    
    &:focus-visible {
        background: darken($button-hover, 5);
        border-color: darken($button, 2);
        outline-color: darken($button, 2);
        outline-style: solid;
    }
}

.margin-wrapper {
    padding: 1cm;
}

.continue-button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

.centered-txt {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.invis-button {
    position: absolute;
    border: none;
    background-color: transparent !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

// Chrome test things

.desktop-container {
    height: 80vh;
}

.desktop-container div {
    display: flex;
}

.desktop-container img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


// Email test things

.mail-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    line-height: 20px;
}

.mail-header {
    background-color: #404040;
    border-radius: 8px 8px 0 0;
}

.mail-header div {
    color: white;
    font-weight: 500;
    
    margin-left: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto;
    padding-left: 0;
    padding-right: 0;
}

.mail-inp-container {
    padding: 0 16px;
    
    $outline-width: 1px;
    outline-width: $outline-width;
    outline-offset: -$outline-width;
    outline-style: solid;
}

.mail-input {
    display: block;
    border: none;
    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
    background: transparent;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    outline: none;
}

.mail-write {
    padding: 10px 0;
    height: 40vh;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    resize: none;
}

// Google search things
.web-container {    
    position: relative;
}

.web-container img {
    width: 100%;
}

// Qbuzz things
.reisplanner {
    position: absolute;
    top: 25%;
    width: 23%;
    height: 2%;
    
    border: none;
}

#reisplanner-a {
    left: 21%;
}

#reisplanner-b {
    left: 54%;
}

// Budgetting things
.multichoice {
    width: 30%;
    margin-bottom: 5mm;
}

// Results

.test-result:before {
    content: "";
    width: 2mm;
    height: 1em;
    display: inline-block;
    margin-right: 1mm;
    transform: translateY(1px);
}

.good-test:before {
    background-color: #84d824;
}

.quitegood-test:before {
    background-color: #eaba1c;
}

.fail-test:before {
    background-color: #d3320e;
}

.unknown-test:before {
    background-color: #83877f;
}
